* {
    font-family: Roboto;
}

.header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 100px;
    background: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
  }

  a {
    font-size: 18px;
    background: #1F2937;
    padding: 8px;
    text-decoration: none;
    color: #E5E7EB;
  }

  img {
    width: 400px;
    height: auto;
  }

.content-one {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container-one {
    display: flex;
    justify-content: space-between;
    padding: 36px 100px;
    gap: 36px;
    background-color: #1F2937;
    color: white;
}

.sign-up {
    background-color: #3882F6;
    width: 100px;
    padding: 6px 10px;
    font-size: 18px;
    border-radius: 10px;
}